<div class="pt-3">
    <p>If you have submitted this page with an existing docxId relating to an existing document, 
        then here will be displayed for each marker Element an corresponding input field.<br />
        Submit just normal text values in here and then generate a new .docx file through the 
        generate Button, to see how all markers will be replaced in the .docx file.
    </p>
</div>

<app-fill-docx></app-fill-docx>

<div class="pt-3">
    <button id="generateDocx">Generate</button>
</div>