<div class="pt-3">
    <p>This page is a simple test workspace for Docx4J. You are able to upload .docx files with text markers <span class="code">${{'{'}}MARKER{{'}'}}</span>.
    After uploading the file, you will be able to navigate to a form, where all markers inside the .docx file will be implemented in the form.
    Here now you can define normal text, which in the next step will be filled into the markers and a new .docx file will be downloaded.</p>
    <p><small>Das File Upload habe ich aus folgendem Tutorial entnommen: <a href="https://www.bezkoder.com/angular-13-file-upload/" target="_blank">https://www.bezkoder.com/angular-13-file-upload/</a></small></p>
</div>

<app-file-upload></app-file-upload>